<!DOCTYPE html>
<html>
  <head>
    <title>Project  | Home</title>
  </head>
  <body>
  <div class="innerContainer"></br>
    <h1 style="text-align:center;">Alpha Team</h1>
    <p> Members </p>
	<ol>
	<li>Akinola Akinkunmi</li>
	<li>Asawo Obomate</li>
	<li>Ihenachor Chiamaka</li>
	<li>Ladapo Olakunle Boma</li>
	</ol>
	<p><%= link_to "Languages", languages_path %> |
	<%= link_to "Campaigns", letter_campaigns_path %>|
	<%= link_to "Sign out", signout_path %></p>
	</div>
  </body>
</html>
